[submodule "src/CppLinuxSerial"]
	path = src/kvh1750_driver/lib/CppLinuxSerial
	url = https://github.com/mgiglia92/CppLinuxSerial.git
	branch = remove_build_tests
[submodule "src/Ring-Buffer"]
	path = src/kvh1750_driver/lib/Ring-Buffer
	url = https://github.com/AndersKaloer/Ring-Buffer.git
